[submodule "vim/pack/davidwilde/start/ale"]
	path = vim/pack/davidwilde/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/davidwilde/start/vim-javascript"]
	path = vim/pack/davidwilde/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/davidwilde/start/vim-jsx"]
	path = vim/pack/davidwilde/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
