[submodule "vim/pack/davidwilde/start/ale"]
	path = vim/pack/davidwilde/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/davidwilde/start/vim-javascript"]
	path = vim/pack/davidwilde/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/davidwilde/start/vim-jsx"]
	path = vim/pack/davidwilde/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/pack/daviwilde/start/vim-styled-components"]
	path = vim/pack/davidwilde/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
[submodule "vim/pack/davidwilde/start/type-script-vim"]
	path = vim/pack/davidwilde/start/type-script-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/pack/davidwilde/start/nord-vim"]
	path = vim/pack/davidwilde/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "vim/pack/davidwilde/start/coc"]
	path = vim/pack/davidwilde/start/coc
        url = https://github.com/neoclide/coc.nvim.git
        branch = release
